block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- base(href="/")

    //-  Primary Meta Tags -//
    title Floema
    //- meta(name="title", content=meta.data.title)
    //- meta(name="description", content=meta.data.description)

    //-  Open Graph / Facebook -//
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://metatags.io/")
    //- meta(property="og:title" content=meta.data.title)
    //- meta(property="og:description" content=meta.data.description)
    meta(property="og:image" content="https://metatags.io/images/meta-tags.png")

    //- Twitter -//
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="https://metatags.io/")
    //- meta(property="twitter:title" content=meta.data.title)
    //- meta(property="twitter:description" content=meta.data.description)
    meta(property="twitter:image" content="https://metatags.io/images/meta-tags.png")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff3e56")
    meta(name="msapplication-TileColor" content="#c13d60")
    meta(name="theme-color" content="#ffffff")

    style
      include ../public/main.css

  body
    include ./partials/preloader
    include ./partials/navigation

    .content#content(data-template=template)
    block content
