extends ../template

block variables
  - var template = 'home'

block content
  .home
    .home__wrapper
      .home__titles
        each collection, index in collections
          .home__titles__label=`${home.data.collection} ${Number(index)}`

          .home__titles__title=collection.data.title

      .home__gallery
        .home__gallery__wrapper
          each gallery in home.data.gallery
            figure.home__gallery__media
              img.home__gallery__media__image(alt=gallery.image.alt src=gallery.image.url)

      a.home__link(href=Link(home.data.collections))=home.data.button
        svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
          path(stroke="currentColor" fill="none" d="M144,.5c79.25,0,143.5,13.21,143.5,29.5s-64.25,29.5-143.5,29.5S.5,46.29.5,30,64.75.5,144,.5Z")
